@import url('./reset.css');

html{
    font-size: 125px;
}

body{
    font-size: 20px;
}

section.box{
    background: rgb(100,100,100);
}
p#teste{
    font-size: 22px;
    font-style: italic;
}

section p{
    background: rgb(100,50,100);
}

div p{
    background: rgb(100,100,100);
}

div > p{
    background: rgb(50,100,100);
}

.teste1 div + span{
    background: rgb(100,100,150);
}

.teste2 div ~ span{
    background: rgb(100,100,50);
}

#universal *{
    background: rgb(50,100,50);
}