<!DOCTYPE html>
<html  lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, inicial-scake=1.0" />

        <link rel="icon" type="image/png" href="./imgs/custard_1f36e.png"/>

        <title> Aprendendo CSS </title>


        <link rel="stylesheet" type="text/css" href="./main.css" />

    </head>
    
    <body>
        <h1> Meu caderno bagunçado </h1>

        <p> Esta página HTML é como se fosse meu caderno de anotações, meio bagunçado mas para acompanhar as aulas</p>
        <hr />
        
        <!-- Tipos de elementos -->
        <h2 style="color:rgb(5,5,125); font-size: 50px;"> Tipos de elementos </h2>
        <br/>
        <br />
        <p > 
            Quando se trata de composição de layouts existem dois tipos de elementos, elementos do tipo Block e elementos do tipo inline.
            Os elementos do tipo Block eles variam sua largura conforme existe a disponibilidade no espaço fornecido pelo navegador.
            Já os elementos inline ocupam apenas a largura do conteúdo. Outra diferença que existe é que não é possível controlar o espaçamento vertical e nem a altura dos elementos inline.
        </p>
        <hr />

        <!-- Flexbox container -->
        <h2 style="color:rgb(5,5,125); font-size: 50px;"> Flexbox container </h2>
        <br/>
        <div id="container-column" >
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
        </div>
        <div id="container-row" >    
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
        </div>

        <p>
            Quando estamos falando de flexbox, estamos falando de um conjunto de elementos internos à um elemento que engloba esses elementos.
            Esse elemento englobador determina o posicionamentos dos itens internos a ele.
        </p>
        <hr />

        <!-- Alinhamento x e y -->
        <h2 style="color:rgb(5,5,125); font-size: 50px;"> Alinhamento x e y </h2>
        <br/>
        <div id="container-column-align" >
            <div class="item">1</div>
        </div>
        <div id="container-row-align" >    
            <div class="item">1</div>
        </div>

        <p>
            Para controlar o alinhamento dos elementos usamos o Justify-content e o Align-items. 
            Por padrão Align-items recebe Strech, que significa ocupar o container na direção escolhida e Justify-content recebe flex-start que significa  no início do container.
            Dependendo da direção, o controle dos eixos se invertem.
        </p>
        <hr />

        <!-- Espaço entre elementos -->
        <h2 style="color:rgb(5,5,125); font-size: 50px;"> Espaço entre elementos </h2>
        <br/>
        <div id="container-around" >
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
        </div>
        <div id="container-between" >
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
        </div>
        <p>
            Quando se trata de espaço entre os elementos é comum utilizar dois tipos de espaçamentos.
            O space-around faz espaçamentos iguais em volta de cada elemento, ou seja, cada elemento inserido no container possuí o mesmo espaço em volta dele.
            Já o space-between trabalha com espaçamentos iguais entre os elementos.
        </p>
        <hr />

        <!-- Quebra de linhas -->
        <h2 style="color:rgb(5,5,125); font-size: 50px;"> Quebra de linhas </h2>
        <br/>
        <div id="container-wrap" >
            <div class="item-wrap">1</div>
            <div class="item-wrap">2</div>
            <div class="item-wrap">3</div>
            <div class="item-wrap">4</div>
            <div class="item-wrap">5</div>
            <div class="item-wrap">6</div>
            <div class="item-wrap">7</div>
        </div>
        <p>
            Como o flexbox junta elementos em colunas ou linhas é possível controlar a quantiadade de elementos dentro do container definidno um tamanho máximo que os elementos podem ter e definir uma quebra com o flex-wrap.
        </p>
        <hr />

        <!-- Itens com tamanho flexível -->
        <h2 style="color:rgb(5,5,125); font-size: 50px;"> Itens com tamanho flexível </h2>
        <br/>
        <div id="container-grow" >
            <div class="item-grow">1</div>
            <div class="item-double" >2</div>
            <div class="item-grow">3</div>
            <div class="item-grow">4</div>
            <div class="item-grow">5</div>
            <div class="item-grow">6</div>
            <div class="item-grow">7</div>
        </div>
        <p>
            A declaração Flex é um shorthand (declaração curta) para flex-grow, flex-basis e flex-shrink.
            No geral não se altera o flex-shrink, que é o que determina o fator de encolhimento dos elementos conforme a necessidade.
            O flex-basis também não se altera e diz respeito ao tamanho inicial dos elementos.
        </p>
        <hr />
        

    </body>
</html>