@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');

body{
    padding: 30px;
}

h1{
    font-size: 50px
}

p{
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 0;
}