@import url('./reset.css');

html{
    font-size: 125px;
}

body{
    font-size: 20px;
}

.box-1{
    background: rgb(19,229,100);
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 20px solid rgb(0,0,0);
    box-sizing: content-box;
}

.box-2{
    background: rgb(19,229,100);
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 20px solid rgb(0,0,0);
    box-sizing: border-box;
}

.container-rolagem{
    overflow: auto;
}

.rolagem-box{
    background: rgb(19,229,100);
    margin: 10px;
    width: 400px;
    height: 300px;
}

.container-posicionamento{
    background: rgb(19,229,100);    
    width: 400px;
    height: 400px;
    position: relative;
}

.posicionamento-box{
    background: rgb(111,29,10);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}