@import url('./reset.css');

html{
    font-size: 125px;
}

body{
    font-size: 20px;
}

.parent-porcentage{
    background: rgb(12,12,12);
    height: 300px;
    width: 350px;
}

.children-porcentage{
    background: rgb(125,125,125);
    height: 33%;
    width: 50%;
}

.parent-em{
    background: rgb(12,12,12);
    height: 300px;
    width: 350px;
    font-size: 200px;
}

.children-em{
    background: rgb(125,125,125);
    height: 1em;
    width: 0.3em;
}

.parent-rem{
    background: rgb(12,12,12);
    height: 300px;
    width: 350px;
    font-size: 200px;
}

.children-rem{
    background: rgb(125,125,125);
    height: 1rem;
    width: 0.3rem;
}